*{
    background-color: #E6DBD0;
}
#Header{
    text-align: center;
    margin-top: 50px;
}

.Center{
    margin-top: 10%;
    text-align: center;
    padding: 1em;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: space-around;
}

#footer{
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
}